
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APIView</title>
</head>
<body>
    <div> 
        <p> @ViewBag.ApiText</p>
    </div>
</body>
</html>
